<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Auto Height for Layout - jQuery EasyUI Demo</title>
	<link rel="stylesheet" type="text/css" href="../../dhccbs3/dhccbs3.7.css"/>
	<script src="../../dhccbs3/dhccbs3.7.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../common.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../commonUI.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../commonValidate.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class="container">
	<h2>Auto Height for Layout</h2>
	<p>This example shows how to auto adjust layout height after dynamically adding items.</p>
	<div style="margin:20px 0;">
		<a href="javascript:void(0)" class="bsui-linkbutton" onclick="addItem()">Add Item</a>
		<a href="javascript:void(0)" class="bsui-linkbutton" onclick="removeItem()">Remove Item</a>
	</div>
	<div id="cc" style="width:700px;height:350px;">
		<div data-options="region:'north'" style="height:50px"></div>
		<div data-options="region:'south'" style="height:50px;"></div>
		<div data-options="region:'west'" style="width:150px;"></div>
		<div data-options="region:'center'" style="padding:20px">
			<p>Panel Content.</p>
			<p>Panel Content.</p>
			<p>Panel Content.</p>
			<p>Panel Content.</p>
			<p>Panel Content.</p>
		</div>
	</div>
	<script type="text/javascript">
		$(function(){
			$CommonUI.getLayout('#cc').layout();
			setHeight();
		});
		
		function addItem(){
			$CommonUI.getLayout('#cc').layout('panel','center').append('<p>More Panel Content.</p>');
			setHeight();
		}
		
		function removeItem(){
			$CommonUI.getLayout('#cc').layout('panel','center').find('p:last').remove();
			setHeight();
		}
		
		function setHeight(){
			var c = $CommonUI.getLayout('#cc');
			var p = c.layout('panel','center');	// get the center panel
			var oldHeight = $CommonUI.getPanel(p).panel('panel').outerHeight();
			$CommonUI.getPanel(p).panel('resize', {height:'auto'});
			var newHeight = $CommonUI.getPanel(p).panel('panel').outerHeight();
			c.layout('resize',{
				height: (c.height() + newHeight - oldHeight)
			});
		}
	</script>
</body>
</html>